#map {
    height: 600px;
    width: 100%;
    max-width: 60%; /* Adjust this value to your desired width */
    margin: 0 auto; /* Center the map horizontally */
    position: relative; /* Add this to position child elements relative to this container */
}

.custom-div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.custom-div-icon::before {
    content: "📍";
    font-size: 32px;
}

.label-div {
    border-radius: 5px;
    padding: 2px 5px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 14px;
    color: #FF69B4;
    font-weight: bold;
}

.emoji-div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.leaflet-tooltip {
    background-color: red; /* Make the background color red for visibility */
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000; /* Ensure tooltips are on top */
}

.leaflet-control-container .leaflet-control-zoom {
    display: none !important;
}

.leaflet-control-container .leaflet-bar {
    display: none !important;
}

#flag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px;
    z-index: 1000; /* Ensure it stays on top of the map */
}

#countdown {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: red;
    z-index: 1000; /* Ensure it stays on top of the map */
}
